html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbarnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 130px;
  background-color: aliceblue;
}
.logoutm {
  width: 250px;
  height: 250px;
  margin-left: 2rem;
  margin-top: -1rem;
}

.navbar {
  display: flex;
}

.navbarnav {
  z-index: 999;
}

.navbarnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 130px;
  background-color: aliceblue;
}

.navbarnav .navbarextra {
  display: none;
}

.navbarlink {
  display: flex;
  margin-right: 10%;
}

.navbarnav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.navbarlink a:hover::after {
  transform: scaleX(1);
}
.dropdown .ar {
  transform: scaleY(1);
  transition: 0.5s;
}
.dropdown:hover .ar {
  transform: scaleY(-1);
}
.navbarlink a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid black;
  border-radius: 50px;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.dropdown {
  display: flex;
}
.dropdown:hover .drop {
  display: flex;
  flex-direction: column;
}

.dropdown .drop {
  margin-top: 2rem;
  position: absolute;
  display: none;
  transition: 0.5s;
  z-index: 2;
  background-color: aliceblue;
  padding: 2rem 0;
}

.dropdown .drop a {
  margin-top: 1.5rem;
  display: block;
}
::placeholder {
  color: #ffffffc6;
}
.search {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    rgb(140, 85, 250) 0%,
    rgb(200, 215, 253) 75%,
    rgb(143, 230, 243) 100%
  );
  padding: 1rem;
  border: none;
  outline: none;
  margin-right: 4rem;
  height: 20px;
  border-radius: 30px;
}
.cari {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
.product {
  margin-top: 5%;

  display: flex;
  align-items: center;
}

.product .prow {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  gap: 3rem;
}
.product .prow .p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f0f8ff;
  box-shadow: 6px 6px 12px #d8dfe6, -6px -6px 12px #ffffff;
  border-radius: 30px;
  padding: 2rem;
}
.slider {
  background-image: url(/asset/Guaj.png);
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  animation: gantibga 8s infinite step-start alternate;
}
.slider h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(106, 0, 255),
    0 0 40px rgb(106, 0, 255), 0 0 70px rgb(106, 0, 255),
    0 0 80px rgb(106, 0, 255), 0 0 100px rgb(106, 0, 255),
    0 0 150px rgb(106, 0, 255);
}
@keyframes gantibga {
  0% {
    background-image: url(/asset/Guaj.png);
  }
  30% {
    background-image: url(/asset/istockphoto-2142384102-612x612.jpg);
  }
  60% {
    background-image: url(/asset/istockphoto-2142384104-612x612.jpg);
  }
  90% {
    background-image: url(/asset/istockphoto-944461402-612x612.jpg);
  }
}
.slider3 {
  background-image: url(/asset/TB.jpg);
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  animation: gantibga3 8s infinite step-start alternate;
}
.slider3 h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(106, 0, 255),
    0 0 40px rgb(106, 0, 255), 0 0 70px rgb(106, 0, 255),
    0 0 80px rgb(106, 0, 255), 0 0 100px rgb(106, 0, 255),
    0 0 150px rgb(106, 0, 255);
}
@keyframes gantibga3 {
  0% {
    background-image: url(/asset/TB.jpg);
  }
  30% {
    background-image: url(/asset/TB\ 2.jpg);
  }
  60% {
    background-image: url(/asset/TB\ 3.jpg);
  }
  90% {
    background-image: url(/asset/TB\ 4.jpg);
  }
}
.slider4 {
  background-image: url(/asset/KP.jpg);
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  animation: gantibga4 8s infinite step-start alternate;
}
.slider4 h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(106, 0, 255),
    0 0 40px rgb(106, 0, 255), 0 0 70px rgb(106, 0, 255),
    0 0 80px rgb(106, 0, 255), 0 0 100px rgb(106, 0, 255),
    0 0 150px rgb(106, 0, 255);
}
@keyframes gantibga4 {
  0% {
    background-image: url(/asset/KP.jpg);
  }
  30% {
    background-image: url(/asset/TP\ 2.webp);
  }
  60% {
    background-image: url(/asset/TP\ 3.webp);
  }
  90% {
    background-image: url(/asset/TP\ 4.jpeg);
  }
}
.slider2 {
  background-image: url(/asset/gl.jpg);
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  animation: gantibga2 8s infinite step-start alternate;
}
.slider2 h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(106, 0, 255),
    0 0 40px rgb(106, 0, 255), 0 0 70px rgb(106, 0, 255),
    0 0 80px rgb(106, 0, 255), 0 0 100px rgb(106, 0, 255),
    0 0 150px rgb(106, 0, 255);
}
@keyframes gantibga2 {
  0% {
    background-image: url(/asset/gl.jpg);
  }
  30% {
    background-image: url(/asset/grojo\ 1.jpg);
  }
  60% {
    background-image: url(/asset/grojo\ 2.jpg);
  }
  90% {
    background-image: url(/asset/grojo\ 3.jpg);
  }
}
.det {
  width: 40%;
}
.cap {
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
}
.p .des {
  overflow: hidden;
  height: 900px;
  width: 60%;
  border: 3px solid rgb(181, 146, 251);
  padding: 2rem;
  border-radius: 25px;
  transition: 1s;
}
.p .des:hover {
  height: 1700px;
}
.p .des p {
  font-size: 1.5rem;
}
.det .z {
  display: flex;
  margin-top: 1.5rem;
}
.det .z div {
  display: flex;
  margin-right: 1.5rem;
  color: rgb(4, 196, 4);
  border-radius: 50px;
  background: #f0f8ff;
  box-shadow: 6px 6px 12px #d8dfe6, -6px -6px 12px #ffffff;
  padding: 0.7rem 2rem;
  align-items: center;
  font-size: 1.2rem;
}
.det .z div p {
  margin-left: 1rem;
}
.loc {
  margin-top: 2rem;
  border-radius: 25px;
  padding: 2rem;
  background: #f0f8ff;
  box-shadow: 6px 6px 12px #d8dfe6, -6px -6px 12px #ffffff;
}
.btnp {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  transform: scale(1);
  text-decoration: none;
  color: #000000;
  background: linear-gradient(
    45deg,
    rgb(140, 85, 250) 0%,
    rgb(200, 215, 253) 75%,
    rgb(143, 230, 243) 100%
  );
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  max-width: 15%;
  margin-top: 2rem;
}
.btnp:hover {
  transform: scale(1.1);
  background-image: none;
  background-color: #000000;
  color: #ffffff;
}

footer {
  background: linear-gradient(
    45deg,
    rgb(140, 85, 250) 0%,
    rgb(200, 215, 253) 75%,
    rgb(143, 230, 243) 100%
  );
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

footer .frow .hak {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 9rem;
  height: 50vh;
}

.foo {
  justify-content: center;
  display: flex;
}

.fo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
}

footer .frow .foa p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -5rem;
}

footer .frow .foa img {
  width: 300px;
  margin-left: -1.5rem;
  margin-top: -2.5rem;
}

footer .frow .fo img {
  width: 3rem;
  filter: saturate(0%);
  transition: 0.5s;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 0.4rem;
  border-radius: 10px;
  margin: 0 1rem;
}

footer .frow .fo img:hover {
  filter: saturate(1);
  transform: scale(1.1);
}

@media (max-width: 1423px) {
  html {
    font-size: 62.5%;
  }
  .navbarnav .navbarextra {
    display: flex;
    margin: 2rem;
  }
  .search {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  .cari {
    font-size: 1.7rem;
  }
  .navbarlink.active {
    transform: scaleY(1);
  }
  .navbarlink a {
    font-size: 2rem;
  }
  .navbarlink {
    padding: 2.5rem;
    gap: 4rem;
    transform: scaleY(0);
    transform-origin: top;
    flex-direction: column;
    position: absolute;
    top: 100%;
    align-items: center;
    background-color: aliceblue;
    margin-right: 0;
    height: 100vh;
    transition: 0.4s;
    width: 100%;
    font-size: 3rem;
  }
  .product {
    padding-top: 10%;
  }
  .product .z {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .cap .des:hover {
    height: 1100px;
  }
  .cap .des {
    width: 100%;
  }
  .cap {
    flex-wrap: wrap;
  }
  .det {
    width: 100%;
  }
  .btnp {
    font-size: 1.5rem;
    padding: 2rem 3rem;
    margin: 3rem;
  }
  footer {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  footer .frow .hak {
    display: block;
    align-items: start;
    justify-content: flex-start;
  }

  .foo {
    justify-content: center;
    display: flex;
  }

  .foa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foa img {
    max-width: 40%;
  }

  footer .frow .hak {
    height: 45rem;
  }
}
@media (max-width: 1423px) {
  html {
    font-size: 55%;
  }
}
