html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* kepala/main */
.logoutm {
  width: 250px;
  height: 250px;
  margin-left: 2rem;
  margin-top: -1rem;
}

.navbar {
  display: flex;
}
.search {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    rgb(140, 85, 250) 0%,
    rgb(200, 215, 253) 75%,
    rgb(143, 230, 243) 100%
  );
  padding: 1rem;
  border: none;
  outline: none;
  margin-right: 4rem;
  height: 20px;
  border-radius: 30px;
}
::placeholder {
  color: #ffffffc6;
}
.cari {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbarnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: 0.5s;
  height: 130px;
  z-index: 999;
  background-color: aliceblue;
}

.navbarnav .navbarextra {
  display: none;
}
.navbarlink {
  display: flex;
}

.navbarnav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.navbarlink a:hover::after {
  transform: scaleX(1);
}
.dropdown .ar {
  transform: scaleY(1);
  transition: 0.5s;
}
.dropdown:hover .ar {
  transform: scaleY(-1);
}
.navbarlink a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid black;
  border-radius: 50px;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.dropdown {
  display: flex;
}
.dropdown:hover .drop {
  display: flex;
  flex-direction: column;
}
.drop {
  background-color: aliceblue;
  margin-top: 2rem;
  position: absolute;
  display: none;
  transition: 0.5s;
  z-index: 2;
  padding: 2rem;
}

.dropdown .drop a {
  margin-top: 1.5rem;
  display: block;
}

/*Payment*/
article {
  padding-top: 8rem;
  margin: 4rem;
}
.myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.secA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#numberInput {
  background-color: transparent;
  border: 1px solid rgb(198, 143, 233);
  border-radius: 10px;
  height: 4.2rem;
  outline: none;
  font-size: 2rem;
  text-align: center;
  width: 10rem;
}
#numberInput::-webkit-inner-spin-button,
#numberInput::-webkit-outer-spin-button {
  display: none;
}
.btnp:hover,
.btny:hover {
  transform: scale(1.1);
  background-image: none;
  background-color: #000000;
  color: #ffffff;
  border: none;
}
.btny {
  border: 1px solid rgb(198, 143, 233);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  outline: none;
  transform: scale(1);
  text-decoration: none;
  color: rgb(198, 143, 233);
  background-color: transparent;
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  max-width: 15%;
}
.btnp {
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  outline: none;
  transform: scale(1);
  text-decoration: none;
  color: #000000;
  background: linear-gradient(
    45deg,
    rgb(140, 85, 250) 0%,
    rgb(200, 215, 253) 75%,
    rgb(143, 230, 243) 100%
  );
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  max-width: 15%;
}
.pay {
  gap: 4rem;
  width: 50%;
  border-radius: 8px;
  padding: 2rem;
  background-color: #f0f8ff;
  box-shadow: 6px 6px 12px #d8dfe6, -6px -6px 12px #ffffff;
}
.isi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.jenis label input[type="radio"] {
  height: 30px;
}
.pay .title {
  font-size: 1.5rem;
  text-align: center;
}
.jenis label .imgName {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.jenis label .imgName img {
  width: 4rem;
}
.radio {
  width: 2rem;
}
.jenis label {
  gap: 1.5rem;
  height: 2rem;
  padding: 2rem;
  background-color: #f0f8ff;
  box-shadow: 6px 6px 12px #d8dfe6, -6px -6px 12px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1cm;
  margin: 2rem;
  width: 80%;
}

/*slide 3*/
footer {
  background: linear-gradient(
    45deg,
    rgb(140, 85, 250) 0%,
    rgb(200, 215, 253) 75%,
    rgb(143, 230, 243) 100%
  );
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

footer .frow .hak {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 9rem;
  height: 50vh;
}

.foo {
  justify-content: center;
  display: flex;
}

.fo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
}

footer .frow .foa p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -5rem;
}

footer .frow .foa img {
  width: 300px;
  margin-left: -1.5rem;
  margin-top: -2.5rem;
}

footer .frow .fo img {
  width: 3rem;
  filter: saturate(0%);
  transition: 0.5s;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 0.4rem;
  border-radius: 10px;
  margin: 0 1rem;
}

footer .frow .fo img:hover {
  filter: saturate(1);
  transform: scale(1.1);
}

/* layar */

@media (max-width: 1423px) {
  html {
    font-size: 62.5%;
  }
  .navbarnav .navbarextra {
    display: flex;
    margin: 2rem;
  }
  .search {
    display: flex;
    justify-content: space-between;
    width: 350px;
    position: relative;
    left: 5%;
  }
  .cari {
    font-size: 1.7rem;
  }
  .navbarlink.active {
    transform: scaleY(1);
  }
  .navbarlink a {
    font-size: 2rem;
  }
  .navbarlink {
    padding: 2.5rem;
    gap: 4rem;
    transform: scaleY(0);
    transform-origin: top;
    flex-direction: column;
    position: absolute;
    top: 100%;
    align-items: center;
    background-color: aliceblue;
    margin-right: 0;
    height: 100vh;
    transition: 0.4s;
    width: 100%;
    font-size: 3rem;
  }
  .drop {
    gap: 1.5rem;
  }
  article {
    padding-top: 13rem;
    margin: 4rem;
  }
  .pay {
    width: 80%;
  }
  .isi {
    justify-content: center;
  }

  .tujuh {
    display: none;
  }
  footer {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  footer .frow .hak {
    display: block;
    align-items: start;
    justify-content: flex-start;
  }

  .foo {
    justify-content: center;
    display: flex;
  }

  .foa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foa img {
    max-width: 40%;
  }

  footer .frow .hak {
    height: 45rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 136px) {
  html {
    font-size: 75%;
  }
}
